MY_FLASK_SECRET_KEY=change-me
MY_APP_DB_HOST=postgres
MY_APP_DB_PORT=5432
MY_APP_DB_NAME=tokenleague
MY_APP_DB_USER=tokenleague_user
MY_APP_DB_PWD=tokenleague_password
POSTGRES_PASSWORD=tokenleague_password
PORT=5006
